# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# python notebook checkpoints
.ipynb_checkpoints

# Dependency directories (remove the comment below to include it)
# vendor/

# csv files too large for Github
implementations/rfm19-dht-routing-table-health/data/nebula-peers-5crawls.csv
implementations/rfm19-dht-routing-table-health/data/nebula-peers-1week.csv
