[submodule "implementations/rfm2-uptime-and-churn/nebula-crawler"]
	path = implementations/rfm2-uptime-and-churn/nebula-crawler
	url = https://github.com/dennis-tra/nebula-crawler.git
[submodule "implementations/rfm16-bitswap-discovery-effectiveness/kubo"]
	path = implementations/rfm16-bitswap-discovery-effectiveness/kubo
	url = https://github.com/ipfs/kubo
[submodule "implementations/rfm16-bitswap-discovery-effectiveness/go-bitswap"]
	path = implementations/rfm16-bitswap-discovery-effectiveness/go-bitswap
	url = https://github.com/ipfs/go-bitswap
